<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>About</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-100">

<nav class="bg-blue-600 p-4">

    <div class="max-w-7xl mx-auto flex justify-between">

        <h1 class="text-white text-2xl font-bold">
            BookFinder
        </h1>

        <div class="space-x-6">

            <a href="/" class="text-white">Home</a>
            <a href="/about" class="text-white">About</a>
            <a href="/dataset" class="text-white">Dataset</a>
            <a href="/evaluation" class="text-white">Evaluation</a>

        </div>

    </div>

</nav>

<div class="max-w-5xl mx-auto mt-10">

    <div class="bg-white rounded-xl shadow-lg p-8">

        <h1 class="text-4xl font-bold text-blue-600 mb-6">
            Tentang Sistem
        </h1>

        <p class="text-gray-700 leading-relaxed">

            BookFinder merupakan Sistem Temu Kembali
            Informasi (STKI) yang digunakan untuk
            melakukan pencarian buku berdasarkan kata
            kunci yang dimasukkan pengguna.

            Sistem ini menggunakan metode
            TF-IDF (Term Frequency-Inverse Document Frequency)
            dan Cosine Similarity untuk menentukan
            tingkat relevansi buku terhadap query.

        </p>

        <div class="mt-8">

            <h2 class="text-2xl font-bold mb-3">
                Teknologi yang Digunakan
            </h2>

            <ul class="list-disc ml-8">

                <li>Python</li>
                <li>Flask</li>
                <li>TF-IDF</li>
                <li>Cosine Similarity</li>
                <li>Tailwind CSS</li>
                <li>HTML & JavaScript</li>

            </ul>

        </div>

    </div>

</div>
<footer class="bg-blue-600 text-white mt-16">
    <div class="max-w-7xl mx-auto py-6 text-center">

        <p class="font-semibold">
            BookFinder - Sistem Temu Kembali Informasi Buku
        </p>

        <p class="text-sm mt-2">
            UAS Temu Kembali Informasi | Universitas Lampung
        </p>

    </div>
</footer>

</body>
</html>